* {
  margin: 0;
  /* font-weight: bolder; */
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(40, 40, 45, 0.9490196078431372);
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url("imgs/Place Your Image Here (Double Click to Edit) (1).png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  /* margin-top: 10px; */
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav .logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

ul:first-child {
  margin-right: 10%;
}

ul:last-child {
  margin-left: 12%;
}

ul li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin: 0px 30px;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Aachen BT";
}

ul li:hover {
  color: #e9a438;
}

.titlle {
  font-size: 67px;
  letter-spacing: 1px;
  color: #e58f00;
  font-family: "Aachen BT";
}
.titlle-2 {
  font-size: 50px;
  color: #ffffff;
  font-family: "Aachen BT";
}
#contact-btn {
  font-size: 25px;
  letter-spacing: 0px;
  color: #28282d;
  font-family: "Aachen BT";
  background-color: #e9a438;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  border: none;
}

.praimary-text {
  width: 523px;
  height: 83px;
  font-size: 25px;
  padding-top: 10px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Aachen BT";
}
.praimary-text-2 {
  width: 529px;
  height: 317px;
  padding-top: 10px;
  font-size: 33px;
  color: #ffffff;
  font-family: "Aachen BT";
}

.qulity {
  /* height: 200vh; */
  width: 100%;
  /* height: 100vh; */
  /* padding-top: 20%; */
  margin-top: 5%;
  background-image: url("imgs/Shape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
  /* background-color: rgba(40,40,45,0.9490196078431372) ; */
}

/* ///////////////////////////food gallery///////////////// */
#food-gallery {
  /* margin-top: 850px; */
  top: 50px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  color: aliceblue;
}

table {
  /* margin-top: 30px; */
  border-collapse: separate;
  border-spacing: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.imag {
  border: none;
  border-radius: 0px;
  width: 250px;
  height: 280px;
  opacity: 2;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* ///////////////////////////Our Menue///////////////// */
#menus {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-family: "Aachen BT";
  font-size: 25px;
  color: white;
}

.our-menue {
  /* margin-top: 30px; */
  border-collapse: separate;
  border-spacing: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.menue-img {
  border: none;
  border-radius: 0px;
  width: 450px;
  height: 350px;
  opacity: 2;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.text-center {
  text-align: left;
  font-size: 29px;
  letter-spacing: 0px;
  line-height: 117px;
  color: #e58f00;
  font-family: "Aachen BT";
  /* font-weight: bold; */
}

.paragragh {
  text-align: left;
  font-size: 12px;
  font-family: "Aachen BT";
  /* font-weight: bold; */
  color: white;
  /* width: min-content; */
}

.price {
  text-align: left;
  font-size: 14px;
  font-family: "Aachen BT";

  /* font-weight: bold; */
  color: #e58f00;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5%;
}
/* #section2{
  background-color: rgba(40, 40, 45, 0.9490196078431372);
  
} */
.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}
img {
  max-width: 100%;
}
.platimg {
  flex-basis: 40%;
}
.platimge {
  width: 646px;
  height: 645px;
}
#about {
  width: 100%;
  height: 100vh;
}
#img-1 {
  height: 789px;
  float: right;
  margin-top: -6%;
  object-position: 360px 0px;
}
#img-2 {
  height: 981px;
  padding-left: 45%;
  object-position: 35px 0px;
}
#img-3 {
  height: 609px;
  object-position: -90px 0px;
  margin-top: -150%;
}
.text-ls {
  padding-top: 20%;
  padding-left: 10%;
  float: left;
}
#enjoy {
  width: 100%;
  height: 100vh;
  margin-top: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-image: url("imgs/Place Your Image Here (Double Click to Edit) (20).png");
}
.enjoy {
  border-width: thick;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-color: #e9a438;
  border-radius: 0px;
  border-style: solid;
}

@media (max-width: 1251px) {
  .platimg {
    width: 300px;
    height: 350px;
    flex-basis: 20%;
  }
  .titlle {
    font-size: 35px;
    font-weight: 700;
  }
  .praimary-text {
    width: 450px;
    height: 70px;
    font-size: 15px;
  }
}
